.form-box-studio {
  text-align: center;
  border-style: solid;
  border-color: #A23C3A;
  padding: 100px;
  margin-top: 50px;
  border-radius: 10px;
  margin-bottom: 100%;
  margin-left: 100px;
  margin-right: 100px;
}

.form-box-studio .btn {
  margin-bottom: 15px;
}

