.studio-banner {
  height: 100vh;
  background-size: cover !important;
  display: flex;
  justify-content: center;
}

.wrapper-black {
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  padding: 20px;
}

.wrapper-black h3 {
  color: $yellow;
}

.skinny {
  width: 250px;
}


.owner-card {
  background-color: white;
  padding: 10px;

  margin: 5% auto;
  box-shadow: 1px 1px 2px #e7e7e7;
  border-radius: 4px;
  text-align: left;
  // margin-right: 50px;
}

.back-to-search {
  text-align: center;
  color: white;
  padding-left: 30px;
}

.back-to-search:hover {
  color: $yellow;
  text-decoration: none;
}
