.studio-banner {
  height: 100vh;
  background-size: cover !important;
  display: flex;
  justify-content: center;
}

.wrapper-black {
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  padding: 20px;
}

.wrapper-black h3 {
  color: $yellow;
}

.skinny {
  width: 227px;
}
