.wrapper-carousel {
  display: flex;
  justify-content: space-between;
  background-color: #E5E5E5;
  color: $blue;
  padding: 20px;
  margin-bottom: 20px;
}

.first-box {

  text-align: center;
  border-radius: 5px;
  margin: 10px;
  width: 400px;
  height: 300px;
  flex: 1 1 50%;
}

.second-box {
  text-align: center;
  margin: 10px;
  width: 400px;
  height: 300px;
  flex: 1 1 50%;
}

.wrapper-booking {

  background-color: #E5E5E5;
  color: $blue;
  padding: 20px;
  margin-bottom: 20px;
  text-align: center;
}
