<div class="container">
  <div class="row">


    <h3>Your bookings :</h3>

    <ul class="list-unstyled">
    <% @bookings.each do |booking| %>
    <div class="col-xs-12 col-sm-12">
      <div class="card-studios"  style="background-image: url( '<%= booking.studio.photo %>' )">
        <div class="card-description">
          <li> <h2><%= booking.studio.name %></h2>
          <p><%= booking.date %></p>
          <h2><%= booking.status %></h2>
          </li>
        </div>
      </div>
    </div>
    <% end %>
    </ul>
  </div>
</div>


