<div class="contents">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-4 col-sm-offset-4">
        <div class="card-booking-form">
        <h1>Book the studio</h1>

        <%= render 'form' %>
        </div>
      </div>
    </div>
  </div>
</div>
