.wrapper-offer {
  background-color: #E5E5E5;
  display: flex;
  align-items: center;
}

.offer-card {
  background-color: white;
  padding: 10px;
  margin: 20px;
  box-shadow: 1px 1px 2px #e7e7e7;
  border-radius: 4px;
  text-align: center;
  // margin-right: 50px;
}
