.wrapper-offer {
  background-color: $blue;
  display: flex;
  align-items: center;
  margin-top: 10px;
  color: $blue;
  border-radius: 5px;
}

.offer-card {
  background-color: white;
  padding: 10px;

  margin: 5% auto;
  box-shadow: 1px 1px 2px #e7e7e7;
  border-radius: 4px;
  text-align: center;
  // margin-right: 50px;
}

.wrapper-booking {

  background-color: #E5E5E5;
  color: $blue;
  padding: 20px;
  margin-bottom: 20px;
  text-align: center;
}

.offer-button {
  margin-top: 5px;
  margin-bottom: 5px;
}

.wrapper-gray {
  background-color: #D7D7D7;
  padding: 20px;
}


.studio-contain {
  height: 180px;
  background-size: cover !important;
  background-position: center;
  position: relative;
  // display: flex;
  // justify-content: space-between;
}

.studio-black {
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  // width: 350px;
  padding-left: 10px;
  padding-right: 20px;
  position: absolute;
  top: 0px;
  left: 10px;
}
.owner-contain {
  height: 180px;
  background-size: cover !important;
  background-position: center;
  position: relative;
  display: flex;
  justify-content: space-between;
}

.owner-left {
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  // width: 350px;
  padding-left: 10px;
  padding-right: 10px;
  flex: 0 0 25%;
  // position: absolute;
  // top: 0px;
  // left: 10px;
}

.owner-right {
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  // width: 350px;
  padding-left: 10px;
  padding-right: 10px;
  margin-top: auto;
  // position: absolute;
  // top: 0px;
  // left: 10px;
}
