<div class="container">
  <div class="row">
    <div class="col-xs-12 ">
      <div class="form-box-studio">
        <div class="card-booking-form">
        <h1>Edit <%= @studio.name %></h1>

        <%= render 'form' %>
        </div>
      </div>
    </div>
  </div>
</div>
