
<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <div class="form-box-studio" style="padding-top: 30px; margin-top: 100px;">
        <h3 class="text-center" style="margin-bottom: 30px;">Add a new studio</h3>
        <%= render 'form'  %>


        <p><%= link_to "Back to home page", root_path, class: "btn btn-default" %></p>
      </div>
    </div>
  </div>
</div>

